/* .projects-card-content {
    margin-right: 15px;
} */

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    color: #14142B;
}

.projects-header p {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.projects-header .header-icon {
    margin-left: 7.8px;
    color: #A0A3BD;
}

.projects-header .project-header-sub-one {
    display: flex;
    align-items: center;
}

.projects-header .project-header-sub-two {
    display: flex;
    align-items: center;
    float: right;
    font-size: 12px;
    cursor: pointer;
}

.projects-header .project-header-sub-two p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-right: 8px;
    color: #4E4B66;
}

.project-card {
    margin-top: 24px;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: auto auto auto;
}

.project-card-body {
    border: 0.5px solid #D6D7E3;
    box-sizing: border-box;
    border-radius: 12px;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card-header p {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
}

.progress-bar {
    width: 177.39px;
    margin-top: 16px;
    position: relative;
}

.progress-bar .progress-bar-one {
    width: 100%;
    border-radius: 10px;
    border: 4px solid #D6D7E3;
}

.progress-bar .progress-bar-one-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 88.69px;
    border-radius: 10px;
    border: 4px solid #2FBBA4;
}

.progress-bar .progress-bar-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    border-radius: 10px;
    border: 4px solid #2FBBA4;
}

.progress-bar .progress-bar-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 145px;
    border-radius: 10px;
    border: 4px solid #2FBBA4;
}

.complete-status {
    /* width: 100%; */
    margin-top: 8px;
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    color: #A0A3BD;
}

.complete-status .complete-status-list-icon {
    margin-right: 8.9px;
    font-size: 10px;
    font-weight: 500;
}

.complete-status .complete-status-tick-icon {
    position: absolute;
    top: 35%;
    right: 60%;
    font-size: 10px;
    font-weight: 500;
}

.complete-status p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.time-user {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.time-user p {
    margin-left: 4px;
}

.time-user .users-icon {
    position: relative;
    margin-left: 30px;
}

.time-user .users-icon .user-two {
    position: absolute;
    top: 0;
    left: 18px;
}

.time-user .users-icon .user-three {
    position: absolute;
    top: 0;
    left: 38px;
}