.project-status-content {
    margin-top: 32px;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: auto auto;
}

.project-status-card {
    display: flex;
    flex-direction: column;
}

.project-status-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-status-card-header-sub {
    display: flex;
    align-items: center;
}

.project-status-card-header-sub p {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #14142B;
}

.project-status-card-header-graph {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-status-card-header-graph .graph-button-icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.project-status-card-header-graph button {
    padding: 4px 4px 4px 18px;
    width: 122px;
    background: #F7F7FC;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    line-height: 20px;
}

.project-status-card-content {
    margin-top: 33px;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: auto auto;
}

.project-status-card-content .project-card-body {
    padding-bottom: 20px;
    background: #F7F7FC;
    border: 0.5px solid #EBA83A;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 12px;
    text-align: center;
}

.project-status-todo-content .project-status-todo {
    display: flex;
    flex-direction: column;
}

.project-status-todo-content .project-status-todo-card {
    /* height: 278px; */
    color: #14142B;
    background: #FCFCFC;
    border: 1px solid #D6D7E3;
    border-radius: 12px;
}

.todo-list-checkbox-button {
    display: flex;
    align-items: center;
}

.todo-list-checkbox-button button {
    position: relative;
    width: 12px;
    height: 12px;
    border: 0.5px solid #4D34D7;
    background: #FCFCFC;
    box-sizing: border-box;
    border-radius: 3px;
}

.todo-list-checkbox-button .todo-list-checkbox-button-check {
    position: absolute;
    top: 0;
    left: 0;
    background: #4D34D7;
    color: #FCFCFC;
}

.todo-list-checkbox-button p {
    margin-left: 8px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #4E4B66;
}